<% provide(:title, "Variants") %>
<h2>All Variant Information</h2>
<p> Frequencies pulled from Exome Aggregation Consortium (ExAC) API  </p>

</br>
 
<% url_root='exac.hms.harvard.edu/rest/dbsnp/' %>

<div class="table-responsive-lg table-lg">
<table class="table table-hover">
	<tr>
		<th> variant </th>
		<th> allele frequency </th>
	</tr>
	<tr>
		<% @variants.each do |variant| %>
			<td> <%=variant.variant%> </td>
			<td><%=variant.gene%></td>
		</tr>
	<% end %>
</table>
</div>


</br>
</br>
</br>
 
<span title="Click to return to the home page"><%= link_to "home", controller: "genes", action: "home"%> </span>

</br>
</br>
