<%= provide(:title, "About CATCH-KB") %>
<p>

The Cardiotoxicity of Chemotherapy Knowledgebase (CATCH-KB) contains information extracted from articles investigating an association between germline genetic polymorphisms and the development of chemotherapy-induced cardiotoxicity (CIC) in cancer patients receiving antineoplastic treatments. CATCH-KB also contains integrated gene and drug information from open biomedical resources such as PharmGKB and SIDER. Furthermore, the genetic polymorphisms, drugs, and cancer types detailed in CATCH-KB are standardized according to appropriate biomedical ontologies, such as SNOMED-CT and RxNorm. By centralizing this information and linking it to external open-access biomedical resources, CATCH-KB will facilitate hypothesis generation and meta-analysis efforts and will ultimately accelerate the use of genetic screening in preventing CIC. 

</p>

</br>
</br>

<p>

To navigate CATCH-KB, try searching human-based for the PMID of a paper of interest, gene ID of a gene of interest, or variant rsID for a variant of interest. The search results will show you the results of any association studies between your gene or variant of interest (or between the variants studied in the paper you searched) and chemotherapy-induced cardiotoxicity. For more information about the genes listed in the search results, click the gene details link at the bottom of the page for information on the gene family each gene belongs to and links to each gene's corresponding KEGG, GWAS Catalog, and PharmGKB web page. For more information on the study population involved in each search result, click the study detail link, which will tell you about the study's definition of cardiotoxicity, the length of time the study followed the participants, and details on the study population age, race, and sex. On the bottom of this page there are additional links to details on the cancer types the study included and specific drugs the study was examining. The drug detail link contains further links to each drug's corresponding SIDER and PharmGKB web pages.

</p>

</br>
</br>

<p>

When using this resource, please cite:

Morash, M, Mitchell, H, Yu, A, et al. (2018). CATCH-KB: Establishing a Pharmacogenomics Variant Repository for Chemotherapy-Induced Cardiotoxicity. AMIA Summits Proceedings. San Francisco, CA.

</p>