<h2>Additonal Cancer Information</h2>
<!-- note to self to make search criteria visible -->

<table border="1";style="width:100%">
	<tr>
		<th> cancer name </th>
		<th> SNOMED ID </th>
	</tr>
	<% @cancer_details.each do |cancer_detail| %>
		<tr>
			<% if cancer_detail!=nil %>
				<td> <%=cancer_detail.cancer_name%></td>
				<td> <%=cancer_detail.SNOMED_SCTID%></td>
			<% end %>
		</tr>
	<%end%>
</table>

<%= link_to "Home", controller: "genes", action: "home" %> | 
<%= link_to "Back to Search", controller: "genes", action: "internal_search", query: @search_term %> | 